body{
  font-family: 'Lato', sans-serif;
  padding: 80px 0;
  padding-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
}
/* HEADER */
.main-header .navbar {
  border: none;
  text-transform: uppercase;
  background-color: #2c3e50 ;
  border-radius: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-header .navbar-brand {
  height: 80px;
  line-height: 80px;
  font-size: 26px;
  color: white;
  padding: 0 15px;
}

.main-header .navbar-nav>li>a {
  color: white;
  padding: 0 15px;
  line-height: 80px;
  transition: color 0.3s
}

.main-header .navbar-nav>li>a:hover {
  color: #1abc9c;
}

.main-header .navbar-header .navbar-toggle{
  margin-top: 20px;
  background-color: #1abc9c;
}

/* JUMBO */
.main-jumbo{
  background-color: #1abc9c;
  height: 580px;
}

.main-jumbo .box-jumbo{
  color: white;
}

.main-jumbo .box-jumbo img {
  width: 250px;
  margin-top: 50px;
}

.main-jumbo .box-jumbo h1{
  font-size: 60px;
  font-weight: bold;
}

.main-jumbo .box-jumbo i{
  font-size: 35px;
  margin-top: 10px;
}

.main-jumbo .box-jumbo p {
  font-size: 25px;
  margin-top: 20px;
}

/* SECTION */
/* PORTFOLIO */
.portfolio h2 {
  font-size: 40px;
}

.portfolio i {
  font-size: 35px;
  margin: 20px 0;
}


.portfolio .row .box-img-portf {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px
}

.portfolio .row .box-img-portf .overlay {
  position: absolute;
  top: 0;
  border-radius: 6px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1abc9c;
}

.portfolio .row .box-img-portf .icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio .row .box-img-portf:hover .overlay {
  opacity: 0.8;
}

/* ABOUT */
.about{
  background-color: #1abc9c;
  color: white;
}

.about .box-tx-sx{
  margin-right: 20px;
}

.about .box-tx-dx{
  margin-left: 20px;
}

.about h2 {
  font-size: 40px;
}

.about i {
  font-size: 35px;
  margin: 20px 0;
}

.about p {
  font-size: 20px;
}

.about .box-dwload {
  margin-bottom: 50px;
}

.about .box-dwload .btn {
  font-size: 20px;
}

.about .box-dwload .btn i {
  font-size: 20px;
  margin-right:10px;
}

/* CONTACT */
.contact i {
  font-size: 35px;
  margin: 20px 0;
}

.contact .form-group {
  margin-bottom: 0;
}

.contact input,
.contact textarea{
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 24px;
  color: #2c3e50;
  box-shadow: none;
}

.contact input {
  padding: 0;
  height: 100px;
  line-height: 100px;
}

.contact textarea {
  margin-bottom: 30px;
  padding: 30px 0;
}


/* FOOTER */
.main-footer {
  color: white;
  margin-top: 50px
}

.footer-pre {
  padding: 60px 0;
  background: #2c3e50;
}

.box-foot .social a {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  border: 2px solid;
}

.foot-end {
  background-color: #1a252f;
  line-height: 50px;
}
